::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

.audio{
  padding-top: 10px;
  padding-bottom: 10px;


}
.iam {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.mycontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px,1fr));
  grid-gap: 20px;
}


.about {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.title {
  font-size: 48px;
  line-height: 1.1;
  color: #333333;
  text-shadow: #692534 3px 0 2px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 32px;
  font-weight: 400;
}

.links {
  display: flex;
}

.link {
  margin-right: 10px;
  max-width: 30px;
  max-height: 30px;
  font-size: 30px;
  color: #2c2c2c;
}
.link:hover {
  color: #771b2f;
}
/* a.rull {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-image: url('04.png'); 
  background-position: center; 
  background-repeat: no-repeat;
  }
a.rull:hover {
  width: 30px;
  height: 30px;
  background-image: url('05.png');
  background-position: center;   
  background-repeat: no-repeat;
  } */

.menu {
  display: flex;
  margin-top:20px; 
  list-style: none; 
  
}

button {
height: 45px;
width: 120px;
border: none;
background: #2c2c2c;
color: #f7f5f5;
padding: 10px;
font-size: 15px;
font-weight: bold;
border-radius: 5px;
position: relative;
box-sizing: border-box;
transition: all 500ms ease; 
}

button:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 42px;
	background: #771b2f;
  opacity: 0.3;
	border-radius: 5px;
	transition: all 1.25s ease;
}
button:hover:before {
	width: 100%;
}

.box {
  max-width: 400px;
  /* max-height: 400px; */
  justify-self: center;
  overflow: hidden;
  border: 10px solid #fff;
  background-image: linear-gradient(to top, #4d086d 20%, #e5ee98 80%);
  animation: ava-animate 25s infinite ;
  box-shadow: 10px 10px 30px rgba(49, 49, 49, 0.5);
}


.box-img {
  animation: ava-bg 5s infinite alternate;
}

@media screen and (max-width: 978px) {
  .iam {
    padding-top: 30px;
  }

  .mycontainer {
    grid-row-gap: 20px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 22px;
    font-weight: 400;
  }

  .description {
    font-size: 16px;
    text-align:center
  }

  .about {
    text-align: center;
  }

  .links {
    justify-content: center;
  }

  .menu {
    justify-content: center;
  }

  .box {
    max-width: 350px;
    justify-self: center;
  }
}


@keyframes ava-animate {
  0% {
    border-radius: 100% 0% 100% 0% / 0% 100% 0% 100%  ; 
  }

  15% {
    border-radius: 60% 40% 55% 45% / 53% 27% 73% 47%   ;  
  }

  30% {
    border-radius: 23% 77% 48% 52% / 60% 66% 34% 40%   ;
  }

  45% {
    border-radius: 72% 28% 69% 31% / 65% 49% 51% 35%   ;  
  }
  
  60% {
    border-radius: 27% 73% 32% 68% / 43% 31% 69% 57%  ; 
  }

  70% {
    border-radius: 27% 73% 42% 58% / 70% 38% 62% 30% ; 
  }

  80% {
    border-radius: 55% 45% 66% 34% / 50% 38% 62% 50% ; 
  }

  90% {
    border-radius: 53% 27% 73% 47% / 60% 40% 55% 45%; 
  }

  100% {
    border-radius: 0% 100% 0% 100% / 100% 0% 100% 0%; 
  }
}  

@keyframes ava-bg {
  from {
    backdrop-filter: hue-rotate(0);
  }

  to {
    backdrop-filter: hue-rotate(90deg);
  }
}
